.typext-typed {
  color: #ffa600;
  background-color: #003f5c;
}

.typext-typed a {
  color: #ffa600;
  background-color: #003f5c;
}

.typext-highlight {
  background-color: #c9dcff;

}

.typext-highlight a {
  background-color: #c9dcff;
}

.typext-hud-frame {
  width: 60vw;
  height: auto;
  position: fixed;
  bottom: 10vh;
  left: 50vw;
  transform: translate(-50%,0%);
  opacity: 0.9;
}

.typext-hud-container {
  margin: 3px;
  height: 50px;
  font-size: 180%;
  width: 100%;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-top: solid black 2px;
  display: flex;
}

.typext-hud-textbox {
  width: 50%;
  display: flex;
  align-items: center;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.typext-hud-textleft {
  justify-content: right;
}

.typext-hud-textright {
  justify-content: left;
  border-left: solid black 1px;
}

.typext-hud-dominant {
  background-color: #58508d;
}

.typext-hud-weak {
  background-color: #847ead;
}

.typext-hud-overflowed {
  background-color: #bcb8d6;
  height: 20px;
}

.typext-hud-wrongtext {
  color: red;
}

.typext-hud-untyped {
  color: white;
}

.typext-hud-typedtext {
  color: #ffa600;
}

.typext-hud-wspreserver {
  display: inline-block;
  width: 0px;
  opacity: 0;
}