.typext-typed {
    color: #ffa600;
    background-color: #003f5c;
}

.typext-typed a {
    color: #ffa600;
    background-color: #003f5c;
}

.typext-highlight {
    background-color: #c9dcff;

}

.typext-highlight a {
    background-color: #c9dcff;
}